:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  box-sizing: border-box;

  color: #f2e1b3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: auto;
  margin: 0;
  background-size: cover;
  background: linear-gradient(
      146deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 27%,
      rgba(3, 154, 216, 1) 78%,
      rgba(0, 212, 255, 1) 100%
    )
    no-repeat;
}
